@model EstoqueModel

@{
    Layout = null;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
    .navbar {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        padding-left: 5px;
    }

    .form {
        padding-left: 5px;
    }

    .lbcolor {
        color: black;
        font-weight: 600;
    }

    .btn-secondary {
        background-color: #D9D9D9;
        color: black;
        font-weight: 600;
        border: none;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #D9D9D9;
    }

    .container {
        flex: 1;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #D9D9D9;
        text-align: center;
        padding: 10px 0;
    }

    span {
        color: black;
        font-weight: 600;
    }

    .logo {
        width: 130px;
        height: auto;
        object-fit: cover;
    }

</style>
<header style=" background-color: #D9D9D9;">
    <div class="container">
        <a class="navbar-brand custom-link custom-bold" asp-area="" asp-controller="Home" asp-action="Index">

            <img src="~/images/LogoSige.png" alt="Logo do Sistema de Vendas" class="logo">

            Sige Sistema de Vendas
        </a>
    </div>
</header>
<div class="container bg-body-tertiary">
    <div class="form">
        <form method="post" asp-controller="Estoque" asp-action="CadastroEstoqueManutencao">
            <nav class="navbar bg-body-tertiary">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Estoque")'">Voltar</button>
                <button type="submit" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Estoque")'">Salvar</button>
            </nav>
            <!-- Seção para exibir mensagens -->
            @if (TempData.ContainsKey("MensagemErro") || TempData.ContainsKey("MensagemSucesso"))
            {
                <div id="mensagem" class="alert alert-dismissible fade show" role="alert">
                    @if (TempData.ContainsKey("MensagemErro"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    }

                    @if (TempData.ContainsKey("MensagemSucesso"))
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["MensagemSucesso"]
                        </div>
                    }

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <script>
                    // Fechar a mensagem automaticamente após 5 segundos
                    setTimeout(function () {
                        $('#mensagem').alert('close');
                    }, 5000);
                </script>
            }
            <div class="row">
                <div class="mb-3 col-4">
                    <label for="NomeDoFornecedor" class="form-label lbcolor">Fornecedor</label>
                    <select class="form-select" id="NomeDoFornecedor" name="NomeDoFornecedor" asp-for="NomeDoFornecedor">
                        <option value="">Selecione um fornecedor</option>
                        <option value="@Model.NomeDoFornecedor" selected>@Model.NomeDoFornecedor</option>
                    </select>
                </div>
                <div class="mb-3 col-2">
                    <label for="NrSeqPedido" class="form-label lbcolor">Nr Pedido</label>
                    <input type="text" class="form-control" id="NrSeqPedido" asp-for="NrSeqPedido">
                </div>
                <div class="mb-3 col-2">
                    <label for="Quantidade" class="form-label lbcolor">Quantidade</label>
                    <input type="text" class="form-control" id="Quantidade" asp-for="Quantidade">
                </div>
                <div class="mb-3 col-2">
                    <label for="DataCadastro" class="form-label lbcolor">Data Cadastro</label>
                    <input type="date" class="form-control" id="DataCadastro" asp-for="DataCadastro">
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-4">
                    <label for="NomeDoProduto" class="form-label lbcolor">Produto</label>
                    <select class="form-select" id="NomeDoProduto" name="NomeDoProduto" asp-for="NomeDoProduto">
                        <option value="" selected>Selecione um produto</option>
                        <option value="@Model.NomeDoProduto" selected>@Model.NomeDoProduto</option>
                    </select>
                </div>

                <div class="mb-3 col-2">
                    <label for="PrecoUnitario" class="form-label lbcolor">Preço Unitario</label>
                    <input type="text" class="form-control" id="PrecoUnitario" asp-for="PrecoUnitario">
                </div>
                <div class="mb-3 col-5">
                    <label for="Marca" class="form-label lbcolor">Marca</label>
                    <input type="text" class="form-control" id="Marca" asp-for="Marca">
                </div>
            </div>

            <input type="hidden" id="NrSeqEstoque" name="NrSeqEstoque" asp-for="NrSeqEstoque" />
            <input type="hidden" id="NrSeqFornecedor" name="NrSeqFornecedor" asp-for="NrSeqFornecedor" />
            <input type="hidden" id="NrSeqProduto" name="NrSeqProduto" asp-for="NrSeqProduto" />
        </form>
    </div>
</div>

<footer class="border-top footer text-muted" style=" background-color: #D9D9D9;">
    <div class="container">
        &copy; 2023 -Sige Sistema de Vendas - Privacy</a>
    </div>
</footer>

<script>
    $(document).ready(function () {

        // Preencher o dropdown de fornecedores
        $.getJSON("/Estoque/BuscarFornecedores", function (data) {
            var dropdownFornecedor = $("#NomeDoFornecedor");
            var fornecedorSelect = $("#NomeDoFornecedor");
            var fornecedores = {};
            console.log("Fornecedor selecionado:", fornecedorSelect);

            // Verifica se já existe um fornecedor selecionado
            if (!fornecedorSelect.val()) {
                // Se não houver um fornecedor selecionado, carrega as opções do dropdown
                dropdownFornecedor.empty();
                dropdownFornecedor.append('<option value="">Selecione um fornecedor</option>');

                // Preenche o dropdown com os dados obtidos
                $.each(data, function () {
                    fornecedores[this.value] = { nrSeqFornecedor: this.nrSeqFornecedor };
                    dropdownFornecedor.append($("<option />").val(this.value).text(this.label));
                });
                console.log("Fornecedores carregados:", fornecedores);
            }   
            
            // Define o valor de NrSeqPessoaFor se houver um fornecedor selecionado
            var selectedValue = fornecedorSelect.val();
            console.log("Fornecedor já selectedValue:", selectedValue);
            if (selectedValue) {
                console.log("Setando NrSeqFornecedor:", fornecedores[selectedValue].nrSeqFornecedor);
                $("#NrSeqFornecedor").val(fornecedores[selectedValue].nrSeqFornecedor);
            }

            // Adiciona um listener de mudança no dropdown Fornecedor
            dropdownFornecedor.change(function () {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    console.log("Fornecedor selecionado pelo usuário:", fornecedores[selectedValue].nrSeqFornecedor);
                    $("#NrSeqFornecedor").val(fornecedores[selectedValue].nrSeqFornecedor);

                } else {
                    $("#NrSeqFornecedor").val(0);

                }
            });
        });
        $.getJSON("/Estoque/BuscarProduto", function (data) {
            var dropdownProduto = $("#NomeDoProduto");
            var produtoSelect = $("#NomeDoProduto");
            var produtos = {};


             // Verifica se já existe um produto selecionado
            if (!produtoSelect.val()) {
                // Se não houver um produto selecionado, carrega as opções do dropdown
                dropdownProduto.empty();
                dropdownProduto.append('<option value="">Selecione um Produto</option>');

                // Preenche o dropdown com os dados obtidos
                $.each(data, function () {
                    produtos[this.value] = { marca: this.marca, preco: this.preco, nrSeqProduto: this.nrSeqProduto };
                    dropdownProduto.append($("<option />").val(this.value).text(this.label));
                });
            }          

            // Adicionar evento de mudança ao dropdown
            dropdownProduto.change(function () {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    $("#Marca").val(produtos[selectedValue].marca);
                    $("#PrecoUnitario").val(produtos[selectedValue].preco);
                    $("#NrSeqProduto").val(produtos[selectedValue].nrSeqProduto);

                } else {
                    $("#Marca").val("");
                    $("#PrecoUnitario").val("");
                    $("#NrSeqProduto").val(0);
                }
            });
        });

    });
</script>


