@model NFVModel

@{
    Layout = null;
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<style>
    .navbar {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        padding-left: 5px;
    }

    .form {
        padding-left: 5px;
    }

    .lbcolor {
        color: black;
        font-weight: 600;
    }

    .btn-secondary {
        background-color: #D9D9D9;
        color: black;
        font-weight: 600;
        border: none;
    }

    span {
        color: black;
        font-weight: 600;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #D9D9D9;
    }

    .container {
        flex: 1;
    }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #D9D9D9;
        text-align: center;
        padding: 10px 0;
    }

    span {
        color: black;
        font-weight: 600;
    }

    .logo {
        width: 130px;
        height: auto;
        object-fit: cover;
    }

</style>
<header style=" background-color: #D9D9D9;">
    <div class="container">
        <a class="navbar-brand custom-link custom-bold" asp-area="" asp-controller="Home" asp-action="Index">

            <img src="~/images/LogoSige.png" alt="Logo do Sistema de Vendas" class="logo">

            Sige Sistema de Vendas
        </a>
    </div>
</header>
<div class="container bg-body-tertiary">


    <div class="form">
        <form method="post" asp-controller="NFV" asp-action="CadastroNFVManutencao">
            <nav class="navbar bg-body-tertiary">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "NFV")'">Voltar</button>
                <button type="submit" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "NFV")'">Salvar</button>
            </nav>
            <!-- Seção para exibir mensagens -->
            @if (TempData.ContainsKey("MensagemErro") || TempData.ContainsKey("MensagemSucesso"))
            {
                <div id="mensagem" class="alert alert-dismissible fade show" role="alert">
                    @if (TempData.ContainsKey("MensagemErro"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    }

                    @if (TempData.ContainsKey("MensagemSucesso"))
                    {
                        <div class="alert alert-success" role="alert">
                            @TempData["MensagemSucesso"]
                        </div>
                    }

                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <script>
                    // Fechar a mensagem automaticamente após 5 segundos
                    setTimeout(function () {
                        $('#mensagem').alert('close');
                    }, 5000);
                </script>
            }
            <div class="row">
                <div class="mb-3 col-5" id="ClienteRow">
                    <label for="NomeDoCliente" class="form-label lbcolor">Cliente</label>
                    <select class="form-select" id="NomeDoCliente" name="NomeDoCliente" asp-for="NomeDoCliente">
                        <option value="" selected>Selecione um fornecedor</option>
                        <option value="@Model.NomeDoCliente" selected>@Model.NomeDoCliente</option>
                    </select>
                </div>
                <div class="mb-3 col-5">
                    <label for="NomeDoProduto" class="form-label lbcolor">Produto</label>
                    <select class="form-select" id="NomeDoProduto" name="NomeDoProduto" asp-for="NomeDoProduto">
                        <option value="" selected>Selecione um produto</option>
                        <option value="@Model.NomeDoProduto" selected>@Model.NomeDoProduto</option>
                    </select>
                </div>



            </div>
            <div class="row">
                <div class="mb-3 col-3">
                    <label for="NrNfv" class="form-label lbcolor">Nr Documento</label>
                    <input type="text" class="form-control" id="NrNfv" asp-for="NrNfv">
                </div>

                <div class="mb-3 col-3">
                    <label for="NrSeqPedido" class="form-label lbcolor">Nr Pedido</label>
                    <input type="text" class="form-control" id="NrSeqPedido" asp-for="NrSeqPedido">
                </div>
                <div class="mb-3 col-3">
                    <label for="DataCadastro" class="form-label lbcolor">Data Cadastro</label>
                    <input type="date" class="form-control" id="DataCadastro" asp-for="DataCadastro">
                </div>
                <div class="mb-3 col-3">
                    <label for="DataVencimento" class="form-label lbcolor">Data Vencimento</label>
                    <input type="date" class="form-control" id="DataVencimento" asp-for="DataVencimento">
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-2">
                    <label for="ValorTotal" class="form-label lbcolor">Valor Titulo</label>
                    <input type="text" class="form-control" id="ValorTotal" asp-for="ValorTotal">
                </div>
                <div class="mb-3 col-2">
                    <label for="ValorImpostos" class="form-label lbcolor">Valor Impostos</label>
                    <input type="text" class="form-control" id="ValorImpostos" asp-for="ValorImpostos">
                </div>
                <div class="mb-3 col-2">
                    <label for="Quantidade" class="form-label lbcolor">Quantidade</label>
                    <input type="text" class="form-control" id="Quantidade" asp-for="Quantidade">
                </div>
                <div class="mb-3 col-2">
                    <label for="Serie" class="form-label lbcolor">Serie</label>
                    <input type="text" class="form-control" id="Serie" asp-for="Serie">
                </div>
                <div class="mb-3 col-4">
                    <label for="ChaveNfv" class="form-label lbcolor">Chave Nf</label>
                    <input type="text" class="form-control" id="ChaveNfv" asp-for="ChaveNfv">
                </div>

            </div>


            <input type="hidden" id="NrSeqProduto" name="NrSeqProduto" asp-for="NrSeqProduto" />
            <input type="hidden" id="NrSeqCliente" name="NrSeqCliente" asp-for="NrSeqCliente" />
            <input type="hidden" id="NrSeqPessoa" name="NrSeqPessoa" asp-for="NrSeqPessoa" />
            <input type="hidden" id="NrSeqImpostos" name="NrSeqImpostos" asp-for="NrSeqImpostos" />
            <input type="hidden" id="NrSeqNfv" name="NrSeqNfv" asp-for="NrSeqNfv" />

        </form>


    </div>
</div>


<footer class="border-top footer text-muted" style=" background-color: #D9D9D9;">
    <div class="container">
        &copy; 2023 -Sige Sistema de Vendas - Privacy</a>
    </div>
</footer>

<script>
    $(document).ready(function () {





        // Preencher o dropdown de clientes
        $.getJSON("/NFV/BuscarClientes", function (data) {
            var dropdownCliente = $("#NomeDoCliente");
            var clienteSelect = $("#NomeDoCliente");
            var clientes = {};

            // Verifica se já existe um fornecedor selecionado
            if (!clienteSelect.val()) {
                // Se não houver um fornecedor selecionado, carrega as opções do dropdown
                dropdownCliente.empty();
                dropdownCliente.append('<option value="">Selecione um fornecedor</option>');

                // Preenche o dropdown com os dados obtidos
                $.each(data, function () {
                    clientes[this.value] = { nrSeqCliente: this.nrSeqCliente, nrSeqPessoa: this.nrSeqPessoa };
                    dropdownCliente.append($("<option />").val(this.value).text(this.label));
                });
            }

            // Define o valor de NrSeqCliente se houver um fornecedor selecionado
            var selectedValue = clienteSelect.val();
            if (selectedValue) {
                $("#NrSeqCliente").val(clientes[selectedValue].nrSeqCliente);
            }

            // Adiciona um listener de mudança no dropdown Cliente
            dropdownCliente.change(function () {
                var selectedValue = $(this).val();
                if (selectedValue) {

                    $("#NrSeqCliente").val(clientes[selectedValue].nrSeqCliente);
                    $("#NrSeqPessoa").val(clientes[selectedValue].nrSeqPessoa);

                } else {
                    $("#NrSeqCliente").val(0);
                    $("#NrSeqPessoa").val(0);
                }
            });
        });

        // Preencher o dropdown de produtos
        $.getJSON("/NFV/BuscarProduto", function (data) {
            var dropdownProduto = $("#NomeDoProduto");
            var produtoSelect = $("#NomeDoProduto");
            var produtos = {};

            // Verifica se já existe um produto selecionado
            if (!produtoSelect.val()) {
                // Se não houver um produto selecionado, carrega as opções do dropdown
                dropdownProduto.empty();
                dropdownProduto.append('<option value="">Selecione um Produto</option>');

                // Preenche o dropdown com os dados obtidos
                $.each(data, function () {
                    produtos[this.value] = { codigo: this.codigo, descricao: this.descricao, preco: this.preco, nrSeqProduto: this.nrSeqProduto, frete: this.frete };
                    dropdownProduto.append($("<option />").val(this.value).text(this.label));
                });
            }

            // Adiciona um listener de mudança no dropdown Produto
            dropdownProduto.change(function () {
                var selectedValue = $(this).val();
                if (selectedValue) {
                    console.log("Produto selecionado:", selectedValue);

                    $("#NrSeqProduto").val(produtos[selectedValue].nrSeqProduto);
                } else {
                    $("#NrSeqProduto").val(0);
                }
            });
        });

        // Função para preencher campos com dados da URL
        function preencherCamposComDadosURL() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('NrSeqPedido') && urlParams.has('NrSeqProduto') && urlParams.has('NrSeqCliente')) {
                $('#NrSeqPedido').val(urlParams.get('NrSeqPedido'));
                $('#NrSeqProduto').val(urlParams.get('NrSeqProduto'));
                $('#NrSeqCliente').val(urlParams.get('NrSeqCliente'));

                // Pré-selecionar as opções corretas nos selects

                $('#NomeDoCliente').val(urlParams.get('NomeDoCliente'));
                $('#NomeDoProduto').val(urlParams.get('NomeDoProduto'));

                // Atualizar selects do Bootstrap após alteração de valor
                $('.form-select').selectpicker('refresh');
            }
        }

        // Chamar a função ao carregar a página
        preencherCamposComDadosURL();
    });
</script>






